@page "/"

<div class="jumbotron">
    <h1 class="display-4">API ERP José Luis</h1>
    <p class="lead">Proyecto para el curso de Tipesoft de .NET 8 Blazor WASM</p>
    <hr class="my-4">
    <ul style="line-height:1.8;">
        <li><b>Stores</b> - Acceso y mantenimiento a la tabla StoresDb.</li>
        <li><b>Categories</b> - Acceso y mantenimiento a la tabla CategoriesDb.</li>
        <li><b>Products</b> - Acceso y mantenimiento a la tabla de productos y opciones para añadir los productos al carrito de la compra.</li>
        <li><b>CartItems</b> - Consulta y edición del carrito.</li>
        <!--
        <li><b>Data Tables</b> - Paginated data tables with search within the tables.</li>
        <li><b>File Upload</b> - File upload / download and automated processing via CRON batch jobs.</li>
        <li><b>Authentication</b> - JWT-based user authentication with page and service level access constraints. Try user ID and password of admin / admin to login.</li>
        -->
        <li><b>API</b> - Rest API con Swagger.</li>
    </ul>
</div>